/*
Font Instructions:
    Cal Sans - Headings and Titles
    Jersey 10 - Feature headings / Draw attention
    Zain - General text
    Share Tech Mono - Code
 */

html {
    font-family: 'Zain', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Cal Sans', Impact, sans-serif;
    font-size: 5rem;
    margin: 0;
}

h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0 1rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

img {
    width: 100%;
}


#landing {
    color: white;
    height: 100vh;
}

#landing-bottom {
    background-image: linear-gradient(110deg, #000000FF 55%, #00000055 55%), url("img/code.png");
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
}

#landing-top {
    position: absolute;
    background: url("img/Skull Pattern.png");
    -webkit-mask-image: -webkit-linear-gradient(340deg, #000000FF 55%, #00000000 55%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#landing-content {
    display: flex;
    padding-top: 35vh;
    padding-left: 5%;
}

.landing-text {
    margin-left: 20px;
}

#landing-content img {
    position: relative;
    bottom: 40px;
}

.image-container {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    overflow: clip;
}

#tagline {
    font-style: italic;
    margin: 10px 1rem;
}

#bookmarks {
    position: absolute;
    top: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}

.bookmark {
    background: conic-gradient(
        at 85%,
        red 54deg,
        transparent 54deg 125deg,
        red 125deg
    );
    text-align: center;
    width: 300px;
}

#game-dev-bookmark {
    margin-left: -25px;
}

#art-bookmark {
    margin-left: -60px;
}

#music-bookmark {
    margin-left: -85px;
}

#contact-bookmark {
    margin-left: -110px;
}

#about-me-bookmark {
    margin-left: -140px;
}