/*
Font Instructions:
    Cal Sans - Headings and Titles
    Jersey 10 - Feature headings / Draw attention
    Zain - General text
    Share Tech Mono - Code
 */

:root {
    --primary-main-color: #F03535FF;
    --primary-dark-color: #901515FF;
    --secondary-main-color: #2D7DC7FF;
    --secondary-dark-color: #1A5790FF;
    --tertiary-main-color: #349F39FF;
    --tertiary-dark-color: #18731CFF;
    --quarternary-main-color: #D7AF1AFF;
    --quarternary-dark-color: #AF8D0CFF;
    --quinary-main-color: #7D28ABFF;
    --quinary-dark-color: #63138EFF;
}

html {
    font-family: 'Zain', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Cal Sans', Impact, sans-serif;
    font-size: 5rem;
    margin: 0;
}

h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0 1rem;
}

h3 {
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

img {
    width: 100%;
}

#base {
    color: white;
    height: 100vh;
}

#landing-bottom {
    background-color: black;
    background-image: url("img/code.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px #00000088;
    height: 100%;
    z-index: -1;
    transition: background-image 0.5s ease-in;
}

#landing-top {
    position: absolute;
    background-image: url("img/Skull Pattern.png");
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    z-index: 1;
    width: 65%;
    height: 100%;
}

.content-page {
    display: none;
    flex-wrap: wrap;
    padding-top: 10%;
    max-width: 60%;
}

.content-page .skill-title {
    text-shadow: 7px 7px var(--title-shadow-color);
    font-size: 5rem;
    margin: 10px 0;
}

#web-dev-page .skill-title {
    --title-shadow-color: var(--primary-dark-color);
}

#game-dev-page .skill-title {
    --title-shadow-color: var(--secondary-dark-color);
}

#art-page .skill-title {
    --title-shadow-color: var(--tertiary-dark-color);
}

#music-page .skill-title {
    --title-shadow-color: var(--quarternary-dark-color);
}

#contact-page .skill-title {
    --title-shadow-color: var(--quinary-dark-color);
}

.landing-text {
    margin-left: 20px;
}

#landing-page img {
    position: relative;
    bottom: 40px;
}

.image-container {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 1px 1px 20px white;
    max-width: 200px;
    max-height: 200px;
    overflow: clip;
}

#tagline {
    font-style: italic;
    margin: 10px 1rem;
}

.goals-title {
    margin: 0;
}

.skill-content p {
    font-size: 1.375rem;
}

.list-title {
    margin: 10px 0;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    padding: 0;
}

.skill-list li {
    display: inline;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px var(--primary-main-color);
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 1.125rem;
}

#social-media-icons img {
    max-width: 64px;
}

#bookmarks {
    position: absolute;
    top: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}

.bookmark {
    position: relative;
    background: conic-gradient(
        at 85%,
        var(--bookmark-bg-color) 54deg,
        transparent 54deg 125deg,
        var(--bookmark-bg-color) 125deg
    );
    width: 400px;
    text-align: left;
    padding: 15px 0;
    cursor: pointer;
}

.bookmark p {
    margin: 0 80px 0 10px;
    letter-spacing: 2px;
    font-size: 1.75rem;
    font-family: 'Jersey 10', sans-serif;
    text-shadow: 3px 3px black;
}

#web-dev-bookmark {
    --bookmark-bg-color: var(--primary-main-color);
    opacity: 50%;
    margin-left: 140px;
}

#web-dev-bookmark:hover {
    opacity: 100%;
}

#game-dev-bookmark {
    --bookmark-bg-color: var(--secondary-main-color);
    opacity: 50%;
    margin-left: 110px;
}

#game-dev-bookmark:hover {
    opacity: 100%;
}

#art-bookmark {
    --bookmark-bg-color: var(--tertiary-main-color);
    opacity: 50%;
    margin-left: 80px;
}

#art-bookmark:hover {
    opacity: 100%;
}

#music-bookmark {
    --bookmark-bg-color: var(--quarternary-main-color);
    opacity: 50%;
    margin-left: 50px;
}

#music-bookmark:hover {
    opacity: 100%;
}

#contact-bookmark {
    --bookmark-bg-color: var(--quinary-main-color);
    opacity: 50%;
    margin-left: 25px;
}

#contact-bookmark:hover {
    opacity: 100%;
}

#landing-bookmark {
    --bookmark-bg-color: #D16C13FF;
    opacity: 50%;
    margin-left: 0;
}

#landing-bookmark:hover {
    opacity: 100%;
}

@keyframes extend {
    0% {
        left: 0;
    }
    100% {
        left: 100px;
    }
}

@keyframes retract {
    0% {
        left: 100px;
    }
    100% {
        left: 0;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(100px);
        opacity: 100%;
    }
}