/*
Font Instructions:
    Cal Sans - Headings and Titles
    Jersey 10 - Feature headings / Draw attention
    Zain - General text
    Share Tech Mono - Code
 */

html {
    font-family: 'Zain', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Cal Sans', Impact, sans-serif;
    font-size: 5rem;
    margin: 0;
}

h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0 1rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

img {
    width: 100%;
}


#landing {
    color: white;
    height: 100vh;
}

#landing-bottom {
    background-image: linear-gradient(110deg, #000000FF 55%, #00000055 55%), url("img/code.png");
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
}

#landing-top {
    position: absolute;
    background: url("img/Skull Pattern.png");
    -webkit-mask-image: -webkit-linear-gradient(340deg, #000000FF 55%, #00000000 55%);
    height: 100%;
    width: 100%;
}

#landing-content {
    display: flex;
    padding-top: 35vh;
    padding-left: 5%;
}

.image-container {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    overflow: clip;
}

#tagline {
    font-style: italic;
    margin: 10px 1rem;
}